name: release terminal linux-arm64
on: 
  push:
    tags:
    - 'mfl-*'
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
    - name: checkout repo
      uses: actions/checkout@master
      with:
        ref: 'mfl-1.0.21-hotfix01'
    - name: Build MFL terminal for linux arm64
      uses: ./.github/actions/build-mfl-terminal-linux
      with:
        arch: 'arm64'
