name: release terminal
on: 
  push:
    tags:
    - 'mfl-*'
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    defaults:
      run:
        working-directory: ./terminal    
    steps:
    - name: checkout repo
      uses: actions/checkout@master
    - name: get version from GITHUB_REF
      id: get_version
      run: |
        GITREV="${GITHUB_REF/refs\/tags\//}"
        echo "VERSION=${GITREV:4}" >> "$GITHUB_OUTPUT"
    - name: Set Up Java
      uses: actions/setup-java@v3.12.0
      with:
        distribution: 'oracle'
        java-version: '17'
    - name: Set Up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.1'
        channel: 'master'
    - name: apt update
      run: |
        sudo apt-get update -y
        sudo apt-get upgrade -y
    - name: Install sys dependencies
      run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev libstdc++-12-dev
    - name: Install flutter dependencies
      run: flutter pub get
    - name: Build linux
      run: flutter build linux --release
    - name: rename
      run: |
        ls ./
        ls ./
        ls ./build/
        ls ./build/linux/
        mv ./build/linux/arm64/release/bundle/model_flight_logbook ./mfl-terminal-linux-arm64
    - name: Upload zip to release
      uses: softprops/action-gh-release@v2
      with: 
        files: "./terminal/mfl-terminal-linux-arm64"
