name: release server
on: 
  push:
    tags:
    - 'mfl-*'
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server    
    steps:
    - name: checkout repo
      uses: actions/checkout@master
    - name: get version from GITHUB_REF
      id: get_version
      run: |
        GITREV="${GITHUB_REF/refs\/tags\//}"
        echo "VERSION=${GITREV:4}" >> "$GITHUB_OUTPUT"
    - name: write version to versionfile
      run: echo "${{steps.get_version.outputs.VERSION }}" > "./version"
    - name: build mfl-admin and deploy to server resources
      run: |
        cd ../mfl-admin/
        sudo apt-get install -y npm
        npm install -D vite
        npm install primevue @primeuix/themes
        npx vite build
    - name: create zip
      run: |
        zip -r "./mfl-server.zip" ./api/* ./config/* ./db/* ./resources/* ./tasks/* ./utils/* ./main.py ./log-config.ini ./requirements.txt ./server-config-default.ini ./server-config-template.ini ./version 
    - name: Upload zip to release
      uses: softprops/action-gh-release@v2
      with: 
        files: |
          ./server/mfl-server.zip
          ./server/version
