name: release terminal linux-x64
on: 
  push:
    tags:
    - 'mfl-*'
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terminal    
    steps:
    - name: Build MFL terminal for linux x64
      uses: soumas/build-mfl-terminal-linux@main
      with:
        arch: 'x64'