name: release terminal linux-x64
on: 
  push:
    tags:
    - 'mfl-*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@master    
      with:
        ref: 'mfl-1.0.21-hotfix01'
    - name: Build MFL terminal for linux x64
      uses: ./.github/actions/build-mfl-terminal-linux
      with:
        arch: 'x64'
